# add ignore file list
*.vs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/


/[Dd]ebug/
/[Dd]ebugPublic/
/[Rr]elease/
/[Rr]eleases/
/x64/
/x86/
/bld/
/[Bb]in/
/[Oo]bj/
/[Ll]og/
